---
layout: home
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <div class="weibo-post-name-index">
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </div>
  <div class="content">
    {{ post.excerpt }}
  </div>
  <hr />
{% endfor %}

<!-- Pagination links -->
<div class="content">
<table class="pagination" border="0" width="100%" style="border-spacing:0">
  <tr>
    <td align="left" width="20%">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">Newer</a>
      {% else %}
        <span class="previous"></span>
      {% endif %}
    </td>
    <td align="center" width="40%">
      <span class="page_number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
    </td>
    <td align="right" width="20%">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">Older</a>
      {% else %}
        <span class="next"></span>
      {% endif %}
    </td>
  </tr>
</table>
</div>
